services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${LOCAL_DB_USER}
      POSTGRES_PASSWORD: ${LOCAL_DB_PASSWORD}
      POSTGRES_DB: ${LOCAL_DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    volumes:
      - .:/app
    environment:
      OPENSKY_NETWORK_API_BASE_URL: "https://opensky-network.org/api/"
      DATABASE_URL: "postgresql://${LOCAL_DB_USER}:${LOCAL_DB_PASSWORD}@db:5432/${LOCAL_DB_NAME}"
    depends_on:
      - db

volumes:
  postgres_data:
